.w3-logo {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.w3-form {
    width: 80%;
    margin: auto;
    padding: 5%;
}

.w3-slogan {
    font-family: 'IBM Plex Sans', sans-serif;
}

.w3-font {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}

.w3-pad {
    margin: auto;
    padding-left: auto;
}

.signin:hover {
    cursor: pointer;
}

.signup:hover {
    cursor: pointer;
}